.container{
    width: 1251px;
    left: -41px;
    position: absolute;
    padding: 11px 0px 11px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0);
    z-index: 2;
}

.title{
    margin: 0;
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none; 
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.linea {
  color: white;
  text-decoration: none;
  padding: 50px 20px;
  font-family: Roboto;
  font-size: 20px;
}

.logo {
  position: relative;
  top: 1px;
  left: 70px;
  width: 100px;
  height: 35px;
  margin-right: 10px;
}
