.container{
    width: 100%;
    height: 2500px;
    position: absolute;
    padding: 0px 0px 11px 0px;
    display: flex;
    top: 0;
    left: 0;
    background: #19103B;
    overflow-x: hidden;
}
.futSim{
  position: absolute;
  top: 55px; 
  height: 29.5%;
  width: 100%;
}
.imgFutSim{
  width:100%;
}

.titleP{
  top: 30px;
  position: absolute;
  left: 50%;
  height: 300px;
  width: 770px;
  font-size: 70px; 
  color: black;
  padding: 20px;
  text-align: center; 
  overflow: hidden;
  animation:flicker 0s linear infinite both;
}

.parrafo{
  position: absolute;
  color: black;
  right: 5%;
  top: 35%;
  text-align: right;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder; 
  animation:tracking-in-expand 0s linear both
}

.textAnimar{
  position: absolute;
  top: 300px;
  left: 28%;
  font-size: 50px; 
  color: #ffffff;
  padding: 20px;
  text-align: center; 
  background-color: #9497f1;
  animation: flicher2 1.5s linear both;
  font-weight: bold;

}.textAnimar:hover{
  animation:shadow-drop-centerC 0.4s linear both
}
.buttonAp {
  width: 200px;
  height: 55px;
  margin: 10px;
  border: none;
  background: linear-gradient(135deg, #ff1995, #4c53ff);
  font-weight: bold;
  color: white;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 60%;
  left: 43%;
}
.buttonAp:hover{
  animation:vibrate 0.4s linear both
}

.containerExp{
  position: absolute;
  background-color: #19103B;
  height:3000px;
  width:  100%;
  top: 50%;
}
.subConExp{
  position: absolute;
  background-color: #6c5f9e;
  height:600px;
  width:  100%;
}
.imgExp1{
  position: absolute;
  top: 9%;
  right: 60%;
  height: 500px;
  width: 400px;
}
.imgExp2{
  position: absolute;
  top: 30%;
  right: 10%;
  height: 530px;
  width: 450px;
}
.tileE{
  position: absolute;
  width: 33% ;
  font-size: 45px; 
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
.parraEx{
  position: absolute;
  width: 52% ;
  height: 200px;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.divisor2{
  position: absolute;
  width: 100%;
  height: 60px;
  top: 100%;
  background-color: #39277b;
  font-size: 20px; 
  color: white;
  padding: 20px;
  text-align: center;
  font-family: Roboto;
  right: 0px;
  font-weight: bold;
}
.imgExp3{
    position: absolute;
    top: 51.56%;
    right: 60%;
    height: 500px;
    width: 450px;
}
.imgExp4{
  position: absolute;
  top: 73.35%;
  right: 10%;
  height: 400px;
  width: 400px;
}


@keyframes tracking-in-expand{
  0%{letter-spacing:-.2em;opacity:0}
  40%{opacity:.6}100%{opacity:1}}

@keyframes flicher2{
  0%,
  100%{opacity:1;transform:translateX(0)}
  10%,30%,50%,70%{transform:translateX(-10px)}
  20%,40%,60%{transform:translateX(10px)}80%{transform:translateX(8px)}90%{transform:translateX(-8px)}
  41.99%{opacity:1}
  42%{opacity:0}
  43%{opacity:0}
  43.01%{opacity:1}
  47.99%{opacity:1}
  48%{opacity:0}
  49%{opacity:0}
  49.01%{opacity:1}
}

@keyframes shake{
  0%,
  80%{transform:rotate(-8deg)}
}


@keyframes tracking{
  0%{letter-spacing:.6em;opacity:0}
  40%{opacity:.6}
  100%{letter-spacing:normal;opacity:1}}
@keyframes vibrate{
  0%{transform:translate(0)}
  20%{transform:translate(-2px,2px)}
  40%{transform:translate(-2px,-2px)}
  60%{transform:translate(2px,2px)}
  80%{transform:translate(2px,-2px)}
  100%{transform:translate(0)}}

@keyframes palpitar {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}
@keyframes down-center{
  0%{transform:scale(1)}
  100%{transform:scale(.95)}}
  


 @keyframes flicker{
  0%,
  100%{opacity:1}
  41.99%{opacity:1}
  42%{opacity:0}
  43%{opacity:0}
  43.01%{opacity:1}
  47.99%{opacity:1}
  48%{opacity:0}
  49%{opacity:0}
  49.01%{opacity:1}}
@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}


 @keyframes shadow-drop-center{
  0%{box-shadow:0 0 0 0 transparent}
  100%{box-shadow:0 0 20px 0 rgba(255, 255, 255, 0.586)}}

  @keyframes shadow-drop-centerC{
    0%{box-shadow:0 0 0 0 transparent}
    100%{box-shadow:0 0 50px 0 #ff54afb0}}


.containerN{
  position: relative;
  width: 100%;
  top: 650px;
  height: 600px;
  background-color: #39277b;
  overflow-x: scroll;
  overflow-y: hidden;
}
.containerN::-webkit-scrollbar {
  width: 5px; /* Ancho del scrollbar */
}

.containerN::-webkit-scrollbar-thumb {
  background-color: #8b8ee923; /* Color del thumb del scrollbar */
  border-radius: 30px; /* Borde redondeado del thumb */
}

.containerN::-webkit-scrollbar-track {
  background: transparent; /* Fondo del scrollbar */
}

.slider{
  position: relative;
  display:inline-flex;
  height: 500px;
  padding: 5px;
}

.noticia{
  display: inline-block;
  position: relative;
  height: 100%;
  width: 750px;
  margin: 5px; 
  background-color: #00000000;
}
.noticia:hover{
  animation:shadow-drop-center 0.4s linear both
}

.linkN{
  position: relative;
  top: 5%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.linkN:hover{
  color: #9497f1;
}
.noticia img{
  position: relative;
  height: 100%;
  width: 100%;
}
.noticia img:hover{
  animation:down-center 0.3s; 
}

.buttonJ {
  width: 200px;
  height: 55px;
  margin: 10px;
  border: none;
  background: linear-gradient(135deg, #ff1995, #4c53ff);
  font-weight: bold;
  color: white;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 600px;
  left: 50px;
}
.buttonJ:hover{
  animation:down-center 0.3s; 
}

.buttonPLAY {
  width: 300px;
  height: 100px;
  background: linear-gradient(135deg, #ff1995, #4c53ff);
  font-weight: bold;
  color: white;
  border-radius: 25px;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 94.8%;
  left: 39%;
}
.buttonPLAY:hover{
  animation:down-center 0.3s; 
}

