.modalBackground {
  width: 100%;
  height: 100vh;
  background-color: rgba(200,200,200,0.5);
  transform: translate(-50%,-50%);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  overflow: hidden;
  top: 290px;
  left: 676px;
}

.modalContainer {
  width: 50%;
  height: 80%;
  top: 50%;
  left: 50%;
  border-radius: 12px;
  background-color: #090C11;
  display: flex;
  flex-direction: column;
  background-size: cover;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 3;  
}

.modalContainer .title {
  display: inline-block;
  margin-top: 10px;
  font-family: Roboto;
  text-align: left;
  color: white;
  padding-right: 9px;
  font-size: 102%;
}

.titleCloseBtn {
  position: relative;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: flex-end;
  z-index: 3;
}

.titleCloseBtn button {
  background: rgba(0,0,0,0);
  color: white;
  border: none;
  font-size: 25px;
  cursor: pointer;
  border-radius: 12px;
}

.titleCloseBtn2 button {
  background: rgba(0,0,0,0.5);
  border: none;
  font-size: 15px;
  cursor: pointer;

}

.modalContainer .body {
  flex: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 102%;
  font-family: Roboto;
  text-align: left;
  padding-left: 110px;
}

.img {
  width: 45%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  float: left;
  margin: 0;
  z-index: 1;
}

.rightSide {
  flex-grow: 1;
  padding-left: 200px;
}

.passwordLogin input[type="text"], input[type="password"] {
  width: 100%;
  height: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #5A3E7E;
  font-style: Roboto;
}

.button_container {
  display: flex;
  margin-left: 180px;
}

.myButton{
  background:none;
  cursor:pointer;
  border:none;
  position: relative;
  whidth: 10px;
  height: 30px;
  margin-left: 17px;
}

.myButton img {
  width:100%;
  height:100%;
  border-radius: 20px;
  background-size: 100% 100%;
}


.boton_con_flecha {
  background-color: #888; 
  color: #fff;
  padding: 10px 20px;  
  cursor: pointer; 
  position: relative; 
  width: 70px;
  height: 60px;
  border-radius: 28px;
  top: 60px;
  left: 50px;
}


.boton_con_flecha::after {
  content: '\2192';
  font-size: 50px;
  position: absolute;
  right: 8px;
  top: -18px;
}

.text2 {
  position: relative;
  top: 20px;
  display: flex;
  font-family: Roboto;
  font-size: 102%;
  color: white; 
  padding-left: 193px;
}




